## Pandas
- This Jupyter Notebook (NB) demonstrates how to create a Pandas DataFrame from a Python dictionary.
- <a href="https://www.w3schools.com/python/python_dictionaries.asp" target="_blank">Python Dictionaries</a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    "A": [1, np.nan, 3],
    "B": [4, 5, np.nan],
    "C": [7, 8, 9]
})

In [3]:
df

     A    B  C
0  1.0  4.0  7
1  NaN  5.0  8
2  3.0  NaN  9

In [4]:
print("axis=0 (column-wise):")
print(df.isnull().any(axis=0))

axis=0 (column-wise):
A     True
B     True
C    False
dtype: bool

In [5]:
print("\naxis=1 (row-wise):")
print(df.isnull().any(axis=1))

axis=1 (row-wise):
0    False
1     True
2     True
dtype: bool

In [6]:
## column-wise: adds values in each column.
df.sum(axis=0)

A     4.0
B     9.0
C    24.0
dtype: float64

In [7]:
## row-wise adds values in each row.
df.sum(axis=1)

0    12.0
1    13.0
2    12.0
dtype: float64